<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> if element has width/height</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
	.content {
		border:  1px solid red;
		position: absolute;
		height: 200px;			  
		top: 50%;
		margin-top: -100px;

		width: 300px;
		left: 50%;
		margin-left: -150px;
	}
  </style>
</head>
<body>
			<div class='content'>
				hello vertical algin
			</div>
</body>
</html>




