<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> if element has width/height</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

  div {
		display : table;
		height: 400px;
		width:600px;
		border: 1px solid;
  }
	span {
		display: table-row;
		text-align:center;
		vertical-align:middle;
	}

  </style>
</head>
<body>
	<div>
		<span>A</span>
		<span>A</span>
		<span>A</span>
		<span>A</span>
	</div>
</body>
</html>
