<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> if element has width/height</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
		height: 600px;
	}
	.content {
		border:  1px solid red;
		clear: both;
		height: 240px;
		width: 200px;
		position:relative;
	}
	#floater {
		border: 1px solid green;
		float: left;
		height: 50%;
		margin-bottom:-120px;
	}
  </style>
</head>
<body>
			<div id = 'floater'></div>
			<div class='content'>
				hello vertical algin
			</div>
			<p>abc</p>
</body>
</html>




