b {
  margin: 0.15625rem, 0.125rem, 0.25rem;
}
a {
  -webkit-animation: 1;
  -moz-animation: 1;
  -o-animation: 1;
  animation: 1;
}
.big-block {
  -webkit-box-shadow: 1 2 3 4 5 6;
  -moz-box-shadow: 1 2 3 4 5 6;
  box-shadow: 1 2 3 4 5 6;
}
.border {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.some .selector div {
  color-2: #008000;
  padding-2: 1, 2, 3, 4;
}
