<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> if element no width/height</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
	 .wrapper {
		 height: 200px;
		 border: 1px solid;
		 vertical-align: middle;
		 text-align: center;
	 }

	 .content {
		 display: inline-block; /* 借用内联的 vertical-align/text-align */
		 border: 1px solid green;
		 width: 50%;
		 line-height: 200px;   /* 行高与父容器相同 */
	 }

	/* 西湖 钱塘江 阿里巴巴 */

  </style>
</head>
<body>
	<div class="wrapper">
		<div class="content">Sit quia deserunt.</div>
	</div>
</body>
</html>
