<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> if element no width/height</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
	html,body{
		height: 100%;
	}
	body {
		/* display:flex; */
		/* justify-content:center; */
		/* align-items:center; */
		text-align: center; /* vertical center */
	}

	
	div{
		display : inline-block;
		background:yellow;
		width:30%;
		text-align:center;  /* inline  element center */
	}
	span {
		font: normal 18px/2.5 serif;
		/* text-align:center; // text  element center  */
	}
  </style>
</head>
<body>
	<div><span>Hello World</span</div>
</body>
</html>
