
$shadowlight: rgba(black, 0.2);
$shadowdark: rgba(black, 0.6);
$bezier: cubic-bezier(.4,0,.2,1);

// NOTE: trying out Attribute Modules again
// http://codepen.io/jreece/pen/aEeqL?editors=110

// Button (default flat)
// ------------------------------------------

[am-button] {
	display: block;
	position: relative;
	width: 100%;
	margin: 0 0 2rem;
	padding: 0.8rem;
	border: 0; outline: 0;
	border-radius: 0.125em;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	transition: all 0.2s $bezier;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	// Light theme (default)
	background: #cfcfcf;
	color: #333;
	
	// Raised
	&[am-button~="raised"] {
		box-shadow: 
			0 0 0.2em $shadowlight, 
			0 0.2em 0.2em $shadowlight;
		&:active {
			box-shadow: 
				0 0 0.6em $shadowlight, 
				0 0.6em 0.6em $shadowlight;
		}
	} // raised
	
	// Dark theme
	[am-theme~="dark"] & {
		background: #2195F2;
		color: #fff;

		// Raised
		&[am-button~="raised"] {
			box-shadow: 
				0 0 0.3em $shadowdark, 
				0 0.2em 0.2em $shadowdark;
			&:active {
				box-shadow: 
					0 0 0.6em $shadowdark, 
					0 0.6em 0.6em $shadowdark;
			}
		} // raised

	} // dark

} // button



// Disabled
// ------------------------------------------

[am-button~="disabled"], 
[am-button~="disabled"]:hover, 
[am-button~="disabled"]:focus {

	// Light theme (default)
	box-shadow: none;
	cursor: default;
	background: rgba(black, 0.12);
	color: rgba(black, 0.26);
	
	// Dark theme
	:root[am-theme~="dark"] & {
		box-shadow: none;
		cursor: default;
		background: rgba(white, 0.12);
		color: rgba(white, 0.30);
	}

} // disabled


// Floating
// ------------------------------------------

:root [am-button~="floating"],
:root [am-button~="floating"]:hover,
:root [am-button~="floating"]:focus {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 56px;
	margin: 0;
	padding: 0;
	background: #db4437;
	border-radius: 50%;
	color: #fff;

	&:before {
		content: "Theme";
		position: absolute;
		right: 120%;					
		top: 30%;
		opacity: 0;
		padding: 0 0.5em;
		background: rgba(black, 0.5);
		color: #fff;
		transition: all .2s $bezier;
	}

	svg.ink { border-radius: 50%; }

	svg.icon {
		position: absolute;
		z-index: 2;
		left: 0; top: 0;
		width: 24px;
		height: 24px;
		margin-left: 16px;
		margin-top: 16px;
		fill: #fff;
		transition: all .2s $bezier;
	}

	&:hover {
		&:before { opacity: 1; }
		svg.icon { transform: rotate(180deg); }
	}

} // floating


// SVG touch ripple effect 
// ------------------------------------------

svg.ink {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	circle { fill: rgba(0,0,0,0.2); }

	:root[am-theme~="dark"] & {
		circle { fill: rgba(255,255,255,0.2); }
	}

}




// Pen styles
// ------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	height: 100%;
	background-color: #fff;
	color: #333;	
	font-family: Noto Sans, sans-serif;
	transition: background-color 0.3s $bezier;

	&[am-theme~="dark"] {
		background-color: #333;
		color: #ccc;
	}

}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%; 
}

article {
	width: 100%;
	padding: 2rem;
	max-width: 12em;
	margin: auto;
}

aside {
	position: absolute;
	bottom: 3rem;
	right: 3rem;
}